<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your item has been transferred
    </p>
    <h4>Transfer details </h4>
    <p>Item name: <%= @item %></p>
    <p>Transferred to: <%= @new_employee.name %></p>
    <p>Quantity: <%= @item_transfer.quantity %></p>
     <p>Thanks & Regards,</p>
    <p>Jyaasa Inventory</p>
  </body>
</html>