<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New Item received
    </p>
    <p> You have following item transferred from: <%= @old_employee.name %>
    <h4>Details </h4>
    <p>Item name: <%= @item %></p>
    <p>Quantity: <%= @item_transfer.quantity %></p>
    <p>Thanks & Regards,</p>
    <p>Jyaasa Inventory</p>
  </body>
</html>