<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @employee.first_name %></h1>
    <p>
      You have a new item assigned from Jyaasa Inventory.
    </p>
    <h4>Item details </h4>
    <p>Item name: <%= @used_item.name %></p>
    <p>Assigned Quantity: <%= @item_assignment.quantity %></p>
    <p>Thanks & Regards,</p>
    <p>Jyaasa</p>
  </body>
</html>