<h1>Item Requests</h1>

<table class="table table-striped" style="width: 50%"> 
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Requested Date</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @item_requests.each do |item_request| %>
      <tr>
        <td><%= item_request.item %></td>
        <td><%= item_request.quantity %></td>
        <td><%= item_request.created_at.to_date %></td>
        <td><%= link_to 'Show', item_request %></td>
      </tr>
    <% end %>
  </tbody>
</table>
