<div class="panel panel-default custom-panel-position" style= "width: 500px;">
  <div class="panel-heading text-center">
    <h4><strong>Request an Item</strong></h4>
  </div>
  <%= render 'form', item_request: @item_request %>
</div>
