<div class="panel panel-default custom-panel-position" style="width: 350px;">
  <div class="panel-heading text-center">
  <h4><strong><i class="glyphicon glyphicon-log-in"></i>&nbsp;&nbsp;Login as</strong></h4>
  </div>
  <div class="panel-body">
    <div class= "actions">
      <%= link_to "Admin", new_admin_user_session_path , class: "btn btn-light btn-lg" %>
      <%= link_to "Employee", employee_dashboard_index_path, class: "btn btn-light btn-lg pull-right" %>
    </div>
  </div>
</div>
