<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
  <style>
    * {
    box-sizing: border-box;
    }
  </style>
</head>
<body>    
    <div class="container">
      <p id="notice"><%= notice %></p>
      <div class="greeting"></div>
      <div align="center">
        <div class="oneline">
          <p> Your Items </p>
        </div>

        <div class="oneline">
          <p> <%= link_to 'Request an Item',new_item_request_path %> </p>
        </div>

        <div class="oneline">
          <p> <%= link_to 'Your Item Requests', item_requests_path %> </p>
        </div>
      </div>   
    </div>
</body>
</html>