<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
</head>
<body>
<h1> Welcome to your dashboard </h1>
<h4><%= @email %></h4><br>
  <%= link_to destroy_employee_session_path, :method => 'delete' , class: "btn btn-default" do%>
    <i class="glyphicon glyphicon-log-out"></i> 
    Logout
  <% end %>
  <%= link_to edit_employee_registration_path do %>
    Edit Profile
  <% end %>  
<h3>Your Items</h3>
<%= link_to new_item_request_path  do %>
      Request an Item
<% end %>
</body>
</html>