<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee</title>
</head>
<body>    
    <div class="container">
      <h1> Welcome to your dashboard </h1>  
      <h4><%= @email %></h4><br>
      <h3>Item Requests</h3>
      <%= link_to new_item_request_path  do %>
      Request an Item
      <% end %> <br>

      <%= link_to item_requests_path do %>
      Your Item Requests
      <% end %>       
    </div>
</body>
</html>