<%= render layout: 'form' do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: :off , class: "form-control", required: true, type: 'email' %>
  </div>
<% end %>