<p>Hello <%= @resource.email %>!</p>

<p>You can set your password for Jyaasa Inventory through the link below.</p>

<p><%= link_to 'Set your password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
