// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.btn{
  border-radius: 3px;
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  font-size: 12px;
  padding: 5px !important;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.btn-success {
  background-color: #4CAF50;
}
.btn-danger {
  background-color: #f44336; 
}
.btn-primary {
  background-color: #008CBA; 
}
.btn-success:hover {
  background-color: #4CAF50 !important;
}
.btn-danger:hover {
  background-color: #f44336; 
}
.btn-primary:hover {
  background-color: #008CBA !important;
}