// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #ee4b00;
$skinLogo: url("jyaasa-logo.png");

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


#header h1.site_title {
  background-size: 105px;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-left: 100px;
}

form{
  input[type=text], input[type=number], input[type=date], input[type=email], input[type=password], textarea {
    width: 190px;
  }
}
.btn{
  border-radius: 3px;
  color: white !important;
  text-align: center;
  text-decoration: none !important;
  font-size: 12px;
  padding: 5px !important;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.btn-success {
  background-color: #4CAF50;
}
.btn-danger {
  background-color: #f44336; 
}
.btn-primary {
  background-color: #008CBA; 
}
.btn-success:hover {
  background-color: #4CAF50 !important;
}
.btn-danger:hover {
  background-color: #f44336; 
}
.btn-primary:hover {
  background-color: #008CBA !important;
}
span.status_tag.assigned{
  background-color: #f5af0f;
}
span.status_tag.returned{
  background-color: #4CAF50;
}
span.status_tag.low_stock{
  background-color: #f5af0f;
}
span.status_tag.in_stock{
  background-color: #4CAF50;
}
span.status_tag.out_of_stock{
  background-color: #e70a0a;
}
.abutton{
  background: #e70a0a;
  color: white !important;
  display: inline-block;
  padding: 4px;
  border-radius: 1px;
  margin-top: 8px;
  text-decoration: none !important;
}
form fieldset > ol > li p.inline-errors {
  margin: -1.3em 0px 0px 39%;
}
button, select {
  width: 213px;
}
.my-panel {
  display: inline-block;
  min-width: 55%;
  min-height: 200px;
  text-align: left;
}
.panel_contents table tr.odd td {
  background: #ffffff; 
}
.panel_contents table tr.even td {
  background: #ffffff;
}
table{
  min-height: 100px;
  min-width: 400px;
}
th, td, caption {
  padding: 13px 10px 4px 5px;
}
.attributes_table table th {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #5E6469;
}
.attributes_table table td {
 color: black;
}
th, td, caption {
  padding: 13px 9px 2px 0px;
}

.panel{
  border: none;
}
.panel > h3{
  text-align: center;
}
h1{
  text-align: center;
}
